{% extends 'base.html' %}
{% block content %}
<form>
  {{ form.as_p }}
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary mb-3">Wyszukaj</button>
      <a href="{% url 'books:import-book' %}" class="btn btn-primary mb-3">Wyczyść</a>
    </div>
  </div>
</form>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tytuł</th>
    <th scope="col">Autor</th>
    <th scope="col">Język</th>
    <th scope="col">Liczba stron</th>
    <th scope="col">Data publikacji</th>
    <th scope="col">Link do okładki</th>
    <th scope="col">ISBN</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {% for book in books %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ book.title }}</td>
    <td>
      {% for author in book.authors %}
      {{ author }},
      {% endfor %}
    </td>
    <td>{{ book.language }}</td>
    <td>{{ book.pageCount }}</td>
    <td>{{ book.publishedDate }}</td>
    <td>
      <img src="{{ book.imageLinks }}" alt="Brak okładki">
    </td>
<!--    <td>-->
<!--      {% for isbn in book.industryIdentifiers %}-->
<!--        {% if isbn.type == 'ISBN_13' %}-->
<!--          {{isbn.identifier}}-->
<!--        {% endif %}-->
<!--      {% endfor %}-->
<!--    </td>-->
    <td>{{ book.industryIdentifiers }}</td>
    <td>
      <form method="post" action="{% url 'books:add-book' %} ">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ book.title }}">
        <input type="hidden" name="author" value="{{ book.authors }}">
        <input type="hidden" name="published_date" value="{{ book.publishedDate }}">
        <input type="hidden" name="page_count" value="{{ book.pageCount }}">
        <input type="hidden" name="image_link" value="{{ book.imageLinks }}">
        <input type="hidden" name="language" value="{{ book.language }}">
        <input
          type="hidden"
          name="isbn_number"
          value="{{ book.language }}"
        >
        <button type="submit" class="btn btn-link btn-sm">+</button>
      </form>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}